body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
}

.logo img {
  max-width: 140px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #1f1534;
  opacity: 50%;
  font-weight: 500;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.hero-content {
  flex: 1;
  padding-right: 100px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-content p {
  color: #7d7987;
  font-size: 21px;
  margin-bottom: 1.5rem;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #458ff6;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #003875;
}
